${project.name} business stakeholders
=====================================

A page to list the contact information of the main business stakeholders, experts or product owners (for scrum teams).


Project sponsors
----------------
+ John Doe (head of desk "candy")
+ ...


Product owner
-------------
+ Jane Doe



