${project.name}
===============

Project Overview
----------------
The *{project.name} aims to help the salesmen to reach a ...


Project iterations pace or Project milestones
---------------------------------------------
To define how feedback from business stakeholders is gathered.