Welcome Guide
==============

Some words to welcome every project team newcomer. 

Also, to provide a list of tasks that should be achieved by every team's newcomer before being ready/operational.

e.g.: 

1. Call the help-desk to request the installation of your IDE on your development desktop
2. Ensure you have access to the DEV servers, and request team AD group membership (to the project manager) if not already done
... 